* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .rocket-card {
    flex-direction: row;
  }
}

.table {
  max-width: 90%;
  margin-top: 50px;
  margin-left: 60px;
}

.heading {
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 0.5rem;
}

.profilesCont {
  display: flex;
  padding: 1rem 0;
}

.missionsCont,
.rocketsCont {
  width: 50%;
  padding: 0 1rem;
}

.firstJoin {
  font-size: 15px;
  font-weight: 500;
  margin-left: 30px;
}

.btn {
  height: 50px;
  width: 150px;
}
